<div id="question-container">
  <h1><%= @question.question_text %></h1>
  <%= erb :'/questions/_comment-button' %>
  <div id='comments-container'>
    <h2>Comments</h2>
    <ul class="list-group">
      <% @question.comments.each do |comment| %>
        <li class="list-group-item"><%= comment.comment_text %></li>
      <% end %>
    </ul>
  </div>
  <div class="list-group" id="answers-container">
    <h2>Answers</h2>
    <ul>
    <% @question.answers.each do |answer| %>
      <li class="answer list-group-item">
        <%= answer.answer_text %>
        <%= erb :'/questions/_comment-button' %>
        <h4>Comments</h4>
        <ul class="list-group">
        <% answer.comments.each do |comment| %>
          <li class="list-group-item"><%= comment.comment_text %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>

<button id="add-answer-button" type="button">Add Answer</button>

<div id="new-answer-container">
</div>
